CitizenMP.Server.exe
CitizenMP.Server.exe.config
NLog.config
/cache/
/resources/\[local\]/

# Composer
**/vendor/

# EssentialMode
**/essentialmode.db

# EUP
**/*.ytd
**/*.ydd

# lib-lua*
**/\[ll\]/

# vMenu
**/vmenu_bans.db
**/vMenu/uuid
