# CitizenFX Server
CitizenMP.Server.exe
CitizenMP.Server.exe.config
NLog.config
/cache/

# CitizenFX Resources
/resources/*
!/resources/\[gamemodes\]
!/resources/\[gameplay\]
!/resources/\[managers\]
!/resources/\[system\]
!/resources/\[test\]
!/resources/fivem
!/resources/runcode

# Composer
/vendor/*

# EssentialMode
/essentialmode.db

# vMenu
/vmenu_bans.db
/vMenu/uuid
